@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorAuth.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorAuth.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
 @*    <link href="~/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
    <link href="~/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" /> *@
 
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until   reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
@*     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="~/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/datatables/js/jquery.datatables.js"></script>
    <script src="~/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/js/employeeDatatable.js"></script> *@
</body>
</html>
